<div class="likes-panel">
  <div class="header">
    <div class="total-likes">
      <span class="glyphicon glyphicon-heart"></span>
      107 likes
    </div>
    <a href="/users/<% SoundPile.current_user.escape(username) %>/likes">
      View All
    </a>
  </div>

  <div class="likes-list">
    <div class="like-item">
      <div class="art-thumbnail"></div>
      <div class="track-info"></div>
      <div class="track-counts"></div>
    </div>
    <div class="like-item">
      <div class="art-thumbnail"></div>
      <div class="track-info"></div>
      <div class="track-counts"></div>
    </div>
    <div class="like-item">
      <div class="art-thumbnail"></div>
      <div class="track-info"></div>
      <div class="track-counts"></div>
    </div>
  </div>

</div>


Slow Magic
Pigeons & Planes Mixtape
> 99,994 | <3 3K | (reposts) 961 | (comments) 103
