<div class="art-thumbnail">
  <img src="<%= track.escape('cover_art_url') %>" height="50" width="50">
</div>

<div class="track-header">
  <button href="#play" class="play-track inline-large-play-btn">
    <div class="glyphicon glyphicon-play"></div>
  </button>
  <button href="#pause" class="pause-track inline-large-play-btn">
    <div class="glyphicon glyphicon-pause"></div>
  </button>

  <div class="track-info">
    <div class="track-artist">
      <a href="#/users/<%= track.escape('owner_id') %>">
        <%= track.escape("artist") %>
      </a>
    </div>

    <div class="track-title">
      <%= track.escape("title") %>
    </div>
  </div>
</div>

<div class="waveform">
</div>
