<div class="art-thumbnail">

</div>

<div class="inline-large-play-btn">
  <a href="#play" class="play-track">play</a>
</div>

<div class="track-artist">
  <%= track.escape("title") %>
</div>

<div class="track-title">
  <%= track.escape("artist") %>
</div>

<div class="progress-track">

</div>
