<div class="art-thumbnail">

</div>

<div class="track-header">
  <button href="#play" class="play-track inline-large-play-btn"></button>
  <button href="#pause" class="pause-track inline-large-play-btn"></button>

  <div class="track-info">
    <div class="track-artist">
      <%= track.escape("artist") %>
    </div>

    <div class="track-title">
      <%= track.escape("title") %>
    </div>
  </div>
</div>

<div class="position-bar-container">
  <div class="position-bar-loading">
    <div class="position-bar">

    </div>
  </div>
</div>
