Sign Up

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_username">Username:</label>
  <input type="text" id="user_username" name="user[username]" value="<%= @user.username %>">

  <label for="user_password">Password:</label>
  <input type="password" id="user_password" name="user[password]">

  <input type="submit" value="Sign Up">
</form>
