<h2><%= track.escape('title') %></h2>
<h3><%= track.escape('artist') %></h3>

<audio controls>
  <source src="<%= track.escape('audio_url') %>" type="audio/mpeg">
</audio>

<a href="#" class="play-track">play</a>
