<div class="inline-player">

</div>

<div class="track-footer">
  <div class="track-buttons">
    <li><button class="like"><span class="glyphicon glyphicon-heart"></span></button></li>
    <li><button class="share"><span class="glyphicon glyphicon-retweet"></span></button></li>
  </div>

  <div class="track-counts">
    <li>
      <span class="glyphicon glyphicon-play"></span>
      <%= track.escape("num_plays") %>
    </li>

    <li>
      <span class="glyphicon glyphicon-heart"></span>
      <%= track.escape("num_likes") %>
    </li>

    <li>
      <span class="glyphicon glyphicon-retweet"></span>
      <%= track.escape("num_shares") %>
    </li>
  </div>
</div>
