/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";
@import "sessions";
@import "inline_player";
@import "persistent_player";
@import "track";

body {
  padding-top: 52px; // Start below the navbar
  font-family: "Interstate", "Lucida Grande"
}

#main {
  position: relative;
  max-width: 960px;
  padding: 0 20px;
  margin: auto;
}

a:link, a:visited, a:active {
  //TODO: Make more specific rules for this. Some start dark, some stay light.
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}
