@import "bootstrap-sprockets";
@import "bootstrap";

/* Inline Player */

.inline-player {
  margin-top: 10px;
  margin-bottom: 25px;
}

.art-thumbnail {
  //TODO: Make responsive
  background-color: blue; //TODO: remove

  float: left;
  width: 50px;
  height: 50px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.track-header {
  position: relative;
  top: 6px;
  height: 38px;

  .inline-large-play-btn {
    content: "";
    border-radius: 50%;
    background-color: #f50;
    display: block;
    float: left;
    position: relative;
    top: 5px;
    height: 28px; //TODO: tweak
    width: 28px;
  }

  .pause-track {
    display: none;
  }

  .track-info {
    display: inline-block;
    margin-left: 7px;
  }
}


.position-bar-container {
  position: relative;
  display: block;
  clear: both;
  height: 25px;
  background-color: red;
  width: 579px;

  .position-bar-loading {
    //TODO: Fix position percent not to be relative to this
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    background-color: orange;
  }

  .position-bar {
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
  }
}

/* Persistent Player */

//TODO: Fix spacing when window is wide (shouldn't be in far corner)
.persistent-player {
  box-sizing: border-box;

  /* @extend .navbar; */
  /* @extend .navbar-inverse; */
  @extend .list-inline;
  background: linear-gradient(rgb(56, 56, 56), rgb(36, 36, 36));
  border-radius: 3px 3px 0 0;

  position: fixed;
  min-height: 45px;
  height: 45px;
  border: 0px;
  right: 0;
  bottom: 0;
  margin-bottom: 0;

  .left-controls {
    float: left;
  }

  .right-controls {
    float: right;
    margin-right: 0;
  }

  .left-controls, .right-controls {
    list-style: none;
    padding-left: 3px;
    @extend .clearfix;
    @extend .navbar-nav;

    .pause-btn {
      display: none;
    }

    li {
      position: relative;
      display: block;

      a {
        position: relative;
        display: block;

        color: rgb(215, 215, 215);

        padding-left: 5px;
        padding-right: 5px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
      }
    }

    .track-info {
      width: 150px;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(153, 153, 153); //while paused
      }
    }

    .track-info.playing a {
      color: rgb(204, 204, 204);
    }
  }

  .glyphicon-play {
    /* height: 20px; */
    /* width: 20px; */
    //TODO: Make play button a little larger
  }
}
