// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

form.credentials {
  @extend .form-horizontal;
  @include make-sm-column(4);
  @include make-sm-column-offset(4);

  h2 {
    text-align: center;
  }

  .username, .password, .submit {
    @extend .form-group;
  }

  .username, .password {
    label {
      @include make-sm-column(4);
      @extend .control-label;
    }

    div {
      @include make-sm-column(8);
      input {
        @extend .form-control;
      }
    }
  }

  .submit input {
    @include make-sm-column(2);
    /* @include make-sm-column-offset(4); */
    @extend .form-control;
    @extend .btn;
    @extend .btn-success;
  }
}

.or-separator {
  @extend .form-group;
  @include make-sm-column(12);
  width: 100%;
  text-align: center;
  margin: auto;
}

form.guest-credentials {
  @extend .form-horizontal;
  @include make-sm-column(4);
  @include make-sm-column-offset(4);

  input.guest-hidden-input {
    display: none;
  }

  .submit-guest {
    @extend .form-group;
    input.btn-submit-guest {
      @extend .form-control;
      @extend .btn;
      @extend .btn-danger;
    }
  }
}

.already-signed-in {
  @include make-sm-column(4);
  @include make-sm-column-offset(4);
  text-align: center;

  padding-top: 30%;
}
