.share-item {
  position: relative;
}

//TODO: Completely replace this hack. Maybe even get rid of ShareView entirely?
.reshare-user {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 160px;
}
